h1 {
	font-family: sans-serif;
	font-size: 15px;
}
p {
	font-family: sans-serif;
	font-size: 15px;
}
div {
	font-family: cursives;

}

#table-set{
	height: 100px;
	width: 8s00px;
}
button{
	font-size: 80px;
	font-family: Verdana;
	color: blue;
	height: 100px;
	width: 100px;
}